body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    cursor: pointer;
}

#carCanvas{
    background: lightgray;
}

#networkCanvas{
    background: black;
}